@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: 'Outfit', sans-serif;
}

:root {

    --color-primary: #F43F5E;

    --color-primary-dull: #FDA4AF;

    --color-light: #FFFFFF;

    --color-borderColor: #E5E7EB;

}